<component name="libraryTable">
  <library name="spring">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/../各类Jar包/spring" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file://$PROJECT_DIR$/../各类Jar包/spring" />
    </SOURCES>
    <jarDirectory url="file://$PROJECT_DIR$/../各类Jar包/spring" recursive="false" />
    <jarDirectory url="file://$PROJECT_DIR$/../各类Jar包/spring" recursive="false" type="SOURCES" />
  </library>
</component>